{{#if assets.pageIgnoredMovies.css}}
    <link href="{{assets.pageIgnoredMovies.css}}" rel="stylesheet">
{{/if}}
<script>
    window.SERVER_DATA = window.SERVER_DATA || {};
    window.SERVER_DATA.matches = {{{json matches}}};
</script>
<div class='card bg-transparent-dark text-light mb-4'>
    <div class='card-header d-flex justify-content-between align-items-center'>
        <h1 class="ms-3 me-3 display-3 mb-0">{{title}}</h1>
        <div class="ms-auto">
            <a href='/' class='btn btn-primary' title='See the installation and configuration instructions'>
                <i class='fas fa-code'></i> Configuration
            </a>
            <a href='/movies/missing' class='btn btn-success'
               title='See the movies that are missing from PTP'>
                <i class='fas fa-champagne-glasses'></i> Missing Movies
            </a>
            <a href='/movies/ignored' class='btn btn-warning disabled-link'
               title="See the movies that you've marked ignored">
                <i class='fas fa-not-equal'></i> Ignored Movies
            </a>
            <a href='/movies/found' class='btn btn-danger'
               title='See the movies that already exist on PTP'>
                <i class='fas fa-ban'></i> Found Movies
            </a>
        </div>
    </div>
    <div class='card-body'>
        <div class='row mb-3'>
            <div class='col-md-12 d-flex align-items-center z-index-1'>
                <button
                        class='btn btn-warning rounded-circle'
                        id='checkBannedContentIgnored'
                        title='Check for specifically banned content and release groups.'
                >
                    <i class="fas fa-circle-exclamation"></i>
                </button>
            </div>
        </div>
        <div class='table-responsive mt-3'>
            <table id='ignoredTable' class='table table-striped table-dark'>
                <thead>
                <tr>
                    <th>Action</th>
                    <th>IMDB URL</th>
                    <th>Tracker URL</th>
                    <th>Title</th>
                    <th>AKAs</th>
                    <th>Year</th>
                    <th>Tags</th>
                    <th>Plot</th>
                    <th>Poster</th>
                    <th>Added</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{{#if assets.pageIgnoredMovies.js}}
    <script src="{{assets.pageIgnoredMovies.js}}"></script>
{{/if}}